.hidden-number{
    display: none;
}

.not-show-div{
    display: none;
}

.show-true{
    display: block;
}

.show-true::after{
    content: '✔️';
}

.show-false::after{
    content: '❌';
}

.show-false{
    display: block
}
